.recent-search {
    margin: 20px 0px;
}

.recent-search button {
    margin-right: 20px;
}


.giphy-content {
    margin-top: 20px;
    display: flex;
    padding: 15px;
    columns: row;
}

.giphy-content img {
    flex: 1;
    height: auto;
}